.imgProduct {
  background-color: black;
  object-fit: cover;
  object-position: center;
  height: 50%px;
  width: 50%px;
  overflow: hidden;
}
.imgModal {
  background-color: black;
  object-fit: cover;
  object-position: center;
  height: 50%;
  /* width: 50%; */
  overflow: hidden;
}
